@model WatchIt.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Sign In To Your Account</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            </div>
        <div class="col-md-4">
		@*<form class="form" action="LoginCheck" method="post">*@
            @using(Html.BeginForm("LoginCheck", "Account", FormMethod.Post))
			{
                <div class="editor-Label">
                @Html.LabelFor(Model=>Model.UserName)
			</div>
            <div class="editor-field">
                @Html.TextBoxFor(Model=>Model.UserName)
			</div>
            <div class="editor-Label">
                @Html.LabelFor(Model=>Model.Password)
			</div>
            <div class="editor-field">
                @Html.TextBoxFor(Model=>Model.Password)
			</div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Admin">Admin</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio" value="User">User</label>
                    </div>
                    
            <br/>
            <div class="checkbox">
                <label>
                <input type="checkbox">Remember me 
                </label>
            </div>
            @*<label for="email">Email: </label>
            <input class="form-control" id="email" name="email" autofocus required>
			<label for="password">Password: </label>
            <input class="form-control" id="password" type="password" name="password" required>
			<br/>*@
            <br/>
            <br/>
			<input class="form-control btn btn-lg btn-primary" type="submit" value="Login">
            @Html.ActionLink(" Or Register YourSelf","Register")
		@*</form>*@
            }		
            </div>
        
    </div>
	</div>
