@model WatchIt.Models.Register
@{
    ViewBag.Title = "Register";
}

<h2>Register YourSelf</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
		<form class="form" action="LoginCheck" method="post">
			<div class="editor-Label">
                @Html.LabelFor(Model=>Model.UserName)
			</div>
            <div class="editor-field">
                @Html.TextBoxFor(Model=>Model.UserName)
			</div>
            <div class="editor-Label">
                @Html.LabelFor(Model=>Model.Password)
			</div>
            <div class="editor-field">
                @Html.TextBoxFor(Model=>Model.Password)
			</div>
            <div class="editor-Label">
                @Html.LabelFor(Model=>Model.ConfirmPassword)
			</div>
            <div class="editor-field ">
                @Html.TextBoxFor(Model=>Model.ConfirmPassword)
			</div>
            
			<br/>
			<input class="form-control btn btn-lg btn-primary" type="submit">
		</form>		
            </div>
        
    </div>
	</div>
